.floatingNotificationBell {
  position: fixed;
  top: 140px;      
  right: 25px;    
  z-index: 2001;
}

@media (max-width: 700px) {
  .floatingNotificationBell {
    top: 40px;    
    right: 12px;
  }
}